.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
 h1{
    color: #bbada0;
    font-size: 3.2em;
    line-height: 1.1;
    margin-top: -50px;
    
  }

  .board-row {
    display: flex;
    justify-content: center;
    margin-top: -20px;

   
  }
  .container{
    background-color: #bbada0;
    padding: 50px 40px 0px 40px;  
    border-radius: 10px;  
    border: 15px solid gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  }
  .containerIA{
    margin-left: 10px;
  }
 
  
  .hexagon {
    position: relative;
    width: 60px;
    height: 35px;
    margin: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
    transform: rotate(90deg);
    user-select: none; 
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -2px;
     
  }
  
 
  
  @keyframes zoomIn {
    0% {
      transform: scale(1) rotate(90deg);
    }
    100% {
      transform: scale(1.2) rotate(90deg);
    }
  }
  
  .hexagon.selected,
  .hexagon.selected:before,
  .hexagon.selected:after {
    /* Estilos para el hover */
    animation: zoomIn 0.3s ease-in-out;
    animation-fill-mode: forwards;
    z-index: 2;
    color: #6AA73A;
    -webkit-text-stroke: 1px #6AA73A; 
    text-shadow: 0 0 5px #6AA73A;   
  }
  
  .hexagon.selected:before {
    border-bottom-color: var(--hexagon-color);
    transform: rotate(0deg)!important;
  }
  
  .hexagon.selected:after {
    border-top-color: var(--hexagon-color);
    transform: rotate(0deg)!important;
  }
  
  .hexagon.selected span {
    transform: rotate(-90deg) scale(1.2);
  }
  @keyframes zoomOut {
    0% {
      transform: scale(1.2) rotate(90deg);
    }
    100% {
      transform: scale(1) rotate(90deg);
    }
  }
  .hexagon:not(.selected),
  .hexagon:not(.selected):before,
  .hexagon:not(.selected):after {
    /* Estilos para cuando no está seleccionado */
    animation: zoomOut 0.3s ease-in-out;
    animation-fill-mode: forwards;
  }
  .hexagon:not(.selected):before {
    border-bottom-color: var(--hexagon-color);
    transform: rotate(0deg)!important;
  }
  
  .hexagon:not(.selected):after {
    border-top-color: var(--hexagon-color);
    transform: rotate(0deg)!important;
  }
  
  .hexagon:not(.selected) span {
    transform: rotate(-90deg) scale(1.2);
  }

  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
  }
  
  .hexagon:before {
    bottom: 100%;
    border-bottom: 17.32px solid var(--hexagon-color);
    
  }
  
  .hexagon:after {
    top: 100%;
    border-top: 17.32px solid var(--hexagon-color);
  }
  
  .hexagon:hover {
    transform: scale(1.1);
    z-index: 1;
    transform: rotate(90deg);
  

  }
  
  .hexagon.empty {
    background-color: transparent;
    cursor: default;
  }
  
  .hexagon.empty:before {
    border-bottom: 17.32px solid transparent;
  }
  
  .hexagon.empty:after {
    border-top: 17.32px solid transparent;
  }
  
  .hexagon.odd-col {
    margin-top: 50px;
    
   
  }
  .hexagon span {
    transform: rotate(-90deg);
  }
  .line-canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }


  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  .shake {
    animation: shake 0.8s;
    animation-iteration-count: infinite;
  }

  .popup {
    position: fixed; /* Position the popup at the center of the screen */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Set a width for the popup */
    padding: 40px;
    background-color: #fff; /* Add a background color */
    border-radius: 10px; /* Round the corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a shadow */
    display: flex; /* Use flexbox to center the buttons */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.popup button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #bbada0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Make the buttons full width */
  text-align: center; /* Center the text */
}

.popup button:hover {
  background-color: #EDC22E;
}
.popup h1 {
  font-size: 2.5em;
  margin-top: 10px;
  
}
.popup p {
  margin-top: 20px; /* Remove top margin */
  margin-bottom: -20px; /* Add some bottom margin */
}
.popup input {
  width: 100%; /* Full width */
  padding: 12px 20px; /* Some padding */
  margin: 8px 0; /* Some margin */
  box-sizing: border-box; /* Make sure padding and width stays inside the box */
  border: 2px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  background-color: #f8f8f8; /* Light-grey background */
  font-size: 16px; /* Increase font size */
  transition: 0.3s; /* Add transition for hover effect */
}

.popup input:focus {
  border-color: #EDC22E; /* Blue border when input is focused */
}