.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
 h1{
    color: #bbada0;
    font-size: 3.2em;
    line-height: 1.1;
    
  }

  .board-row {
    display: flex;
    justify-content: center;
    margin-top: -20px;

   
  }
  .container{
    background-color: #bbada0;
    padding: 50px 40px 0px 40px;  
    border-radius: 10px;  
    border: 15px solid gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  }
 
  
  .hexagon {
    position: relative;
    width: 60px;
    height: 34.64px;
    margin: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
    transform: rotate(90deg);
    user-select: none; 
    font-weight: bold;
    font-size: 20px;
     
  }
  
 
  
  @keyframes zoomIn {
    0% {
      transform: scale(1) rotate(90deg);
    }
    100% {
      transform: scale(1.2) rotate(90deg);
    }
  }
  
  .hexagon.selected,
  .hexagon.selected:before,
  .hexagon.selected:after {
    /* Estilos para el hover */
    animation: zoomIn 0.3s ease-in-out;
    animation-fill-mode: forwards;
    z-index: 2;
    color: #6AA73A;
    -webkit-text-stroke: 1px #6AA73A; 
    text-shadow: 0 0 5px #6AA73A;   
  }
  
  .hexagon.selected:before {
    border-bottom-color: var(--hexagon-color);
    transform: rotate(0deg)!important;
  }
  
  .hexagon.selected:after {
    border-top-color: var(--hexagon-color);
    transform: rotate(0deg)!important;
  }
  
  .hexagon.selected span {
    transform: rotate(-90deg) scale(1.2);
  }
  @keyframes zoomOut {
    0% {
      transform: scale(1.2) rotate(90deg);
    }
    100% {
      transform: scale(1) rotate(90deg);
    }
  }
  .hexagon:not(.selected),
  .hexagon:not(.selected):before,
  .hexagon:not(.selected):after {
    /* Estilos para cuando no está seleccionado */
    animation: zoomOut 0.3s ease-in-out;
    animation-fill-mode: forwards;
  }
  .hexagon:not(.selected):before {
    border-bottom-color: var(--hexagon-color);
    transform: rotate(0deg)!important;
  }
  
  .hexagon:not(.selected):after {
    border-top-color: var(--hexagon-color);
    transform: rotate(0deg)!important;
  }
  
  .hexagon:not(.selected) span {
    transform: rotate(-90deg) scale(1.2);
  }

  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
  }
  
  .hexagon:before {
    bottom: 100%;
    border-bottom: 17.32px solid var(--hexagon-color);
    
  }
  
  .hexagon:after {
    top: 100%;
    border-top: 17.32px solid var(--hexagon-color);
  }
  
  .hexagon:hover {
    transform: scale(1.1);
    z-index: 1;
    transform: rotate(90deg);
  

  }
  
  .hexagon.empty {
    background-color: transparent;
    cursor: default;
  }
  
  .hexagon.empty:before {
    border-bottom: 17.32px solid transparent;
  }
  
  .hexagon.empty:after {
    border-top: 17.32px solid transparent;
  }
  
  .hexagon.odd-col {
    margin-top: 50px;
    
   
  }
  .hexagon span {
    transform: rotate(-90deg);
  }
  .line-canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }


  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  .shake {
    animation: shake 0.8s;
    animation-iteration-count: infinite;
  }